.text-center {
    text-align: center!important;
}

.padre{
    color:#fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px ;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.138);
    

}

.hijo{
    background: rgba(255, 255, 255, 0);
}

::placeholder {
     color: black; font-weight: 400; 
    font-size: 1.2em;

  }

h1{
    color: white;
}  

.cover{
    margin-bottom:190px;
    height: 100px;
}
.wave{
    width: 6000px;
    height: 50%;
    background-image: url(../Images/wd1.svg);
    position: absolute;
    top: 0;
    left: 0;
    background-position: bottom;
}
.w1{
    animation: w1 7s linear infinite;
}
@keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

.w2{
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
}
@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-25px);
    }

    50%{
        transform: translateY(10px);
    }
}

.container__cover{
    max-width: 1200px;
    margin: auto;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position: bottom;
}


.cover .container__info{
    max-width: 400px;
    margin-top: 20px;
    z-index: 2;
}

cover .container__info{
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #000;
}

.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: #FEBA0B;
    margin-top: -30px;
}

.cover p{
    margin-top: 10px;
    color: #fff;
}

